@page
@model Lab1.Pages.Admin.NewProjectModel
@{
}

<h1>Add New Project</h1>

<form method="post">
    <div class="form-group">
        <label asp-for="TempProject.ProjectName"></label>
        <input asp-for="TempProject.ProjectName" class="form-control" />
    </div>

    <div class="form-group">
        <label asp-for="TempProject.StartDate"></label>
        <input asp-for="TempProject.StartDate" type="date" class="form-control" />
    </div>

    <div class="form-group">
        <label asp-for="TempProject.EndDate"></label>
        <input asp-for="TempProject.EndDate" type="date" class="form-control" />
    </div>

    <div class="form-group">
        <label asp-for="TempProject.ProjectStatus"></label>
        <input asp-for="TempProject.ProjectStatus" class="form-control" />
    </div>

    <div class="form-group">
        <label asp-for="TempProject.ProgressStatus"></label>
        <input asp-for="TempProject.ProgressStatus" class="form-control" />
    </div>

    <div class="form-group">
        <label asp-for="TempProject.ProjectLead"></label>
        <input asp-for="TempProject.ProjectLead" type="number" class="form-control" />
    </div>

    <!--This needs to be altered to a multiselect to add multiple users-->
  @*   <div class="form-group">
        <label asp-for="TempProject.UserID"></label>
        <input asp-for="TempProject.UserID" type="number" class="form-control" />
    </div> *@

	<div>
		<label for="dropdown">Select Grant:</label>
		<select id="dropdown" asp-for="TempProject.GrantID" class="form-control">
			<option value="">-- Select --</option>
			@foreach (var item in Model.GrantDropdown)
			{
				<option value="@item.GrantID">@item.GrantName</option>
			}
		</select>
	</div>

    <button type="submit" class="btn btn-success">Add Project</button>
</form>