@page
@model Lab1.Pages.Faculty.GrantWork.AddGrantModel
@{
}



<h2>Add Grant</h2>

<!--Form to collect information to add a new grant to the database-->

<form method="post">
	<div class="form-group">
		<label asp-for="TempGrant.GrantName"></label>
		<input asp-for="TempGrant.GrantName" class="form-control" />
	</div>

	<div class="form-group">
		<label asp-for="TempGrant.FundingAgency"></label>
		<input asp-for="TempGrant.FundingAgency" class="form-control" />
	</div>


	<div class="form-group">
		<label asp-for="TempGrant.Deadline"></label>
		<input asp-for="TempGrant.Deadline" type="date" class="form-control" />
	</div>

	<div class="form-group">
		<label asp-for="TempGrant.ProposalID"></label>
		<input asp-for="TempGrant.ProposalID" type="number" class="form-control" />
	</div>

	<div class="form-group">
		<label asp-for="TempGrant.FundingAmount"></label>
		<input asp-for="TempGrant.FundingAmount" type="number" step="0.01" class="form-control" />
	</div>

	<div class="form-group">
		<label asp-for="TempGrant.Type"></label>
		<input asp-for="TempGrant.Type" class="form-control" />
	</div>

	<div class="form-group">
		<label asp-for="TempGrant.GrantDescription"></label>
		<textarea asp-for="TempGrant.GrantDescription" class="form-control"></textarea>
	</div>

	<!--Needs to be a dropdown of users, but also multi-select like project page-->
	@* <div class="form-group"> 
		<label asp-for="TempGrant.UserID"></label>
		<input asp-for="TempGrant.UserID" type="number" class="form-control" />
	</div> *@

	<button type="submit" class="btn btn-success">Add Grant</button>
</form>