@page
@model Lab1.Pages.Faculty.EditGrantModel
@{
    ViewData["Title"] = "Edit Grant"; 
}
<form method="post">
    <input type="hidden" asp-for="GrantToUpdate.GrantID" />

    <div class="form-group">
        <label asp-for="GrantToUpdate.GrantName"></label>
        <input asp-for="GrantToUpdate.GrantName" class="form-control" />
    </div>

    <div class="form-group">
        <label asp-for="GrantToUpdate.FundingAgency"></label>
        <input asp-for="GrantToUpdate.FundingAgency" class="form-control" />
    </div>


    <div class="form-group">
        <label asp-for="GrantToUpdate.Deadline"></label>
        <input asp-for="GrantToUpdate.Deadline" type="date" class="form-control" />
    </div>

    <div class="form-group">
        <label asp-for="GrantToUpdate.ProposalID"></label>
        <input asp-for="GrantToUpdate.ProposalID" type="number" class="form-control" />
    </div>

    <div class="form-group">
        <label asp-for="GrantToUpdate.FundingAmount"></label>
        <input asp-for="GrantToUpdate.FundingAmount" type="number" step="0.01" class="form-control" />
    </div>

    <div class="form-group">
        <label asp-for="GrantToUpdate.Type"></label>
        <input asp-for="GrantToUpdate.Type" class="form-control" />
    </div>

    <div class="form-group">
        <label asp-for="GrantToUpdate.GrantDescription"></label>
        <textarea asp-for="GrantToUpdate.GrantDescription" class="form-control"></textarea>
    </div>

<!--Adding users needed-->

    <button type="submit" class="btn btn-primary">Update Grant</button>
    <a asp-page="/Faculty/ViewGrant" class="btn btn-secondary">Cancel</a>
</form>
