@page
@model Lab1.Pages.Faculty.GrantSearchModel
@{
}

<form method="post">
    <div class="form-group">
        <label asp-for="tempGrant.GrantName"></label>
        <input type="text" class="form-control" asp-for="tempGrant.GrantName" placeholder="Enter Grant Name" />
    </div>

    <div class="form-group">
        <label asp-for="tempGrant.FundingAgency"></label>
        <input type="text" class="form-control" asp-for="tempGrant.FundingAgency" placeholder="Enter Funding Agency" />
    </div>

    @*<div class="form-group">
        <label asp-for="tempGrant.SubmissionDate"></label>
        <input type="date" class="form-control" asp-for="tempGrant.SubmissionDate" />
    </div>

    <div class="form-group">
        <label asp-for="tempGrant.Deadline"></label>
        <input type="date" class="form-control" asp-for="tempGrant.Deadline" />
    </div>

    <div class="form-group">
        <label asp-for="tempGrant.ProposalID"></label>
        <input type="number" class="form-control" asp-for="tempGrant.ProposalID" />
    </div>

    <div class="form-group">
        <label asp-for="tempGrant.FundingAmount"></label>
        <input type="number" step="0.01" class="form-control" asp-for="tempGrant.FundingAmount" placeholder="Enter Funding Amount" />
    </div>
    *@
    <div class="form-group">
        <label asp-for="tempGrant.Type"></label>
        <input type="text" class="form-control" asp-for="tempGrant.Type" placeholder="Enter Grant Type" />
    </div>
    @*
    <div class="form-group">
        <label asp-for="tempGrant.GrantDescription"></label>
        <textarea class="form-control" asp-for="tempGrant.GrantDescription" placeholder="Enter Grant Description"></textarea>
    </div>*@
@* 
    <div class="form-group">
        <!-- Ideally a dropdown of User Names -->
        <label asp-for="tempGrant.UserID"></label>
        <input type="number" class="form-control" asp-for="tempGrant.UserID" />
    </div> *@
    <button type="submit" class="btn btn-primary mt-2">Search</button>
    </form>