@page
@model Lab1.Pages.ManageAccount.ChangePswdModel
@{
}

<h2>Change Password</h2>

<form>
    <div class="form-group">
        <label>Please Select A User:</label>
        <select class="form-select">
            <option></option>
        </select>
    </div>
    <br />

    <div class="form-group">
        <label>Enter Old Password:</label>
        <input placeholder="Old Password"/>
    </div>
    <br />

    <div class="form-group">
        <label>Enter New Password:</label>
        <input placeholder="New Password"/>
    </div>
    <br />

    <div class="form-group">
        <label>Re-enter New Password:</label>
        <input placeholder="Re-enter Password"/>
    </div>

    <br />
    <button class="btn btn-primary">Submit</button>
</form>