@page
@model Lab1.Pages.ManageAccount.ManagePermissionModel
@{
}

<form method="post">
    <label>Select a User</label>
    <div class="form-group">
        <select>
            <option></option>
        </select>
    </div>

    <label>Change Permission</label>
    <div class="form-group">
        <select>
            <option></option>
        </select>
    </div>
</form>