
@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}


    <style>
        body {
        overflow-x: hidden;
        background: url(/images/LoginPageBackground.png) no-repeat center fixed;
        background-size: cover;
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100vh;
        margin: 0;
        background-color: #f0f0f0;
        flex-direction: column;
        text-align: center;
        }



        .logo {
        position: absolute;
        top: 10px;
        left: 10px;
        max-width: 250px;
        margin-bottom: 30px;
        }

        .label {
        text-align: left;
        }

        .forgor {
        text-align: right;
        }

        .login-container {
        background-color: white;
        padding: 40px 60px;
        width: 100%;
        box-shadow: 0 4px 8px rgba(181, 153, 206, 0.815);
        border-radius: 20px;
        text-align: center;
        }

        .login-container h2 {
            margin-bottom: 20px;
        }

        .login-container input {
            width: 100%;
            padding: 10px;
            margin: 10px 0;
            border: 1px solid #ccc;
            border-radius: 8px; /* Rounded corners for inputs */
        }

        .login-container button {
            width: 40%;
            padding: 10px;
            background-color: #DACCE6;
            color: white;
            border: none;
            border-radius: 20px; /* Rounded button */
            cursor: pointer;
            transition: background 0.3s ease;
        }

        .login-container button:hover {
                background-color: #B599CE;
            }

         a {
             position: aboslute;
             top: 10px;
             right: 10px;
         }

         div {
            
         }
               
</style>


            @{
                if (HttpContext.Session.GetString("username") != null)
                {
                    <a class="btn btn-danger me-2" asp-page="/HashedLogin/Logout">Logout</a>
                    /*me-2 sets distance between buttons */
                }
            }
            <br />
  


<body>
    <img src="~/images/JMUCare.png" alt="Logo" class="logo" style="max-width: 250px;" />
    <div class="position-absolute top-50 start-50 translate-middle">
        <h1 class="display-4">Welcome to JMU Care</h1>
            <a asp-page="/HashedLogin/HashedLogin" class="btn btn-primary">Login</a>
            <br/>
            <br/>
    </div>

</body>