@page
@model Lab1.Pages.TaskModel
@{
}

<h2>Tasks</h2>

<div class="card" style="width: 20rem;">
    <div class="card-body">
        <h5 class="card-title">Today's Tasks</h5>
    </div>
</div>

<br /><br />

<div class="card" style="width: 20rem;">
    <div class="card-body">
        <h5 class="card-title">To Do</h5>
    </div>
</div>